*{
  margin: 0;
}

body {
  background-color: rgba(0, 0, 0, 0.243);
}

.wrapper{
  width: 60%;
  margin: 20px auto;
  padding: 20px 40px;
  border-radius: 10px;
  box-shadow: 5px 4px 10px 1px rgb(14, 14, 14);
  background-color: white;
}

.text-center{
  text-align: center;
}

/* Fonts */
.fnt-12{
  font-size: 12px;
}
.fnt-14{
  font-size: 14px;
}
.fnt-16{
  font-size: 16px;
}
.fnt-18{
  font-size: 18px;
}
.fnt-20{
  font-size: 20px;
}
.fnt-40{
  font-size: 40px;
}

.fnt-bold{
  font-weight: bold;
}


/* Colors */
.danger{
  color: red;
}
.warning {
  color: orange;
}
.success {
  color: green;
}

p {
  margin: 20px 0px;
}

form{

  box-sizing: border-box;
}
fieldset {
  margin: 20px 0px;
  box-sizing: border-box;
}

fieldset.budget-categories .form-group{
  width: 45%;
  float: left;
  margin-left: 20px;
}


.form-group{
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.form-group label {
 font-weight: bold;
 font-size: 16px;
}


.form-group input[type="text"],
.form-group input[type="number"] {
  width: 97%;
  padding: 0.8em;
  border: 1px solid rgba(128, 128, 128, 0.252);
  margin-top: 10px;
  border-radius: 5px;
}
.form-group input[type="text"]:active {
  border: 1px solid grey;
}

button {
  padding: 0.5em;
  border-radius: 5px;
}